@media (max-width: 1500px) {
  #hero {
    /* margin-top: 65px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/4238568.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    width: auto;
    /* border: 1px solid #ff0000; */
  }
}

@media (max-width: 1300px) {
  #hero {
    /* margin-top: 65px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/4238568.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    width: auto;
    /* border: 1px solid #ff0000; */
  }
}

@media (max-width: 1100px) {
  #hero {
    /* margin-top: 65px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/4238568.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: auto;
    /* border: 1px solid #ff0000; */
  }

  .registro-container {
    width: 70%;
    height: 100%;

    background-color: #ffffff13;
    filter: drop-shadow(1px 1px 1px #6b6b6b);
    color: white;
    padding: 30px;
    margin: 96px auto;
    border-radius: 10px;
  }

  .contacto-container {
    /* border: 4px solid #b3ff03; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* margin: 0 auto; */
  }
  .contacto-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 78%;
  }

  .contacto-redes {
    width: 25%;
    margin: 80px auto 10px auto;
  }
}

@media (max-width: 950px) {
  .contacto-redes {
    width: 30%;
    margin: 80px auto 10px auto;
  }
}

@media (max-width: 992px) {
  #menu-toggle {
    display: none;
  }

  .menu-label {
    display: flex;
    order: 2;
  }

  .menu-label img {
    height: 20px;
    width: 25px;
  }

  .navbar {
    gap: 30px;
  }

  .navbar-list {
    position: absolute;
    top: 65px;
    width: 90%;
    left: 5%;
    right: 5%;
    flex-direction: column;
    align-items: flex-start;
    background-color: #000c25;
    border: 2px solid #fff;
    border-top: 0;
    padding: 45px 30px;
    border-radius: 0 0 15px 15px;
    /* display: none; */
    z-index: 2;
    transform: translateX(200%);
    transition: all 0.5s ease;
  }

  #menu-toggle:checked ~ .navbar-list {
    transform: translateX(0);
    display: flex;
  }
}

@media (max-width: 940px) {
  .card-info-conteiner {
    /* border: 4px solid #ff7403; */
    background: #302f2f5d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 45%;
    height: 100%;
    max-width: 900px;
    border-radius: 8px;
  }

  .card-info-conteiner img {
    /* border: 4px solid #ff7403; */
    max-width: 100%;
    max-height: 250px;
    /* margin: 28px 50px 0px 32px; */
  }

  .img-mortalk {
    width: 450px;
    height: 250px;
  }

  .img-crash {
    width: 450px;
    height: 250px;
  }

  .img-forza {
    width: 450px;
    height: 250px;
  }

  .img-baldur {
    width: 450px;
    height: 250px;
  }
}

@media (max-width: 900px) {
  #hero {
    /* margin-top: 65px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/4238568.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: auto;
    /* border: 1px solid #ff0000; */
  }

  /*---------- Cards ----------*/

  .card-info-conteiner {
    /* border: 4px solid #ff7403; */
    background: #302f2f5d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    max-width: 900px;
    border-radius: 8px;
  }

  .card-info-conteiner img {
    /* border: 4px solid #ff7403; */
    max-width: 100%;
    max-height: 250px;
    /* margin: 28px 50px 0px 32px; */
  }

  .img-mortalk {
    width: 450px;
    height: 250px;
  }

  .img-crash {
    width: 450px;
    height: 250px;
  }

  .img-forza {
    width: 450px;
    height: 250px;
  }

  .img-baldur {
    width: 450px;
    height: 250px;
  }

  .contacto-container {
    /* border: 4px solid #b3ff03; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* margin: 0 auto; */
  }
  .contacto-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }

  .contacto-redes {
    width: 35%;
    margin: 80px auto 10px auto;
  }
}

@media (max-width: 800px) {
  #hero {
    /* margin-top: 65px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/4238568.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: auto;
    /* border: 1px solid #ff0000; */
  }

  #cards h2 {
    display: none;
  }

  .cards-conteiner {
    display: none;
  }

  .card-info-conteiner {
    /* border: 4px solid #ff7403; */
    background: #302f2f5d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    max-width: 900px;
    border-radius: 8px;
  }
  .card-info-conteiner img {
    /* border: 4px solid #ff7403; */
    max-width: 100%;
    max-height: 250px;
    /* margin: 28px 50px 0px 32px; */
  }

  .img-mortalk {
    width: 450px;
    height: 250px;
  }

  .img-crash {
    width: 450px;
    height: 250px;
  }

  .img-forza {
    width: 450px;
    height: 250px;
  }

  .img-baldur {
    width: 450px;
    height: 250px;
  }

  .contacto-container {
    /* border: 4px solid #b3ff03; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* margin: 0 auto; */
  }
  .contacto-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }

  .contacto-redes {
    width: 35%;
    margin: 80px auto 10px auto;
  }
}

@media (max-width: 730px) {
  #hero {
    /* margin-top: 65px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/4238568.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: auto;
    /* border: 1px solid #ff0000; */
  }

  .hero-info h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: fit-content;
    margin: 0 auto;
    color: white;
  }

  .hero-info p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

  .registro-container {
    width: 70%;
    height: 100%;

    background-color: #ffffff13;
    filter: drop-shadow(1px 1px 1px #6b6b6b);
    color: white;
    padding: 30px;
    margin: 96px auto;
    border-radius: 10px;
  }

  .registro-form {
    width: 85%;
    margin: auto;
  }

  .card-info-conteiner {
    /* border: 4px solid #ff7403; */
    background: #302f2f5d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    max-width: 900px;
    border-radius: 8px;
  }
  .card-info-conteiner img {
    /* border: 4px solid #ff7403; */
    max-width: 100%;
    max-height: 250px;
    /* margin: 28px 50px 0px 32px; */
  }

  .img-mortalk {
    width: 450px;
    height: 250px;
  }

  .img-crash {
    width: 450px;
    height: 250px;
  }

  .img-forza {
    width: 450px;
    height: 250px;
  }

  .img-baldur {
    width: 450px;
    height: 250px;
  }

  .contacto-redes {
    width: 41%;
    margin: 80px auto 10px auto;
  }
}

@media (max-width: 600px) {
  #hero {
    /* margin-top: 65px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/4238568.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: auto;
    /* border: 1px solid #ff0000; */
  }

  .hero-info h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: fit-content;
    margin: 0 auto;
    color: white;
  }

  .hero-info p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }

  .card-info-conteiner {
    /* border: 4px solid #ff7403; */
    background: #302f2f5d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 65%;
    height: 100%;
    max-width: 900px;
    border-radius: 8px;
  }
  .card-info-conteiner img {
    /* border: 4px solid #ff7403; */
    max-width: 100%;
    max-height: 250px;
    /* margin: 28px 50px 0px 32px; */
  }

  .img-mortalk {
    width: 450px;
    height: 250px;
  }

  .img-crash {
    width: 450px;
    height: 250px;
  }

  .img-forza {
    width: 450px;
    height: 250px;
  }

  .img-baldur {
    width: 450px;
    height: 250px;
  }

  .contacto-redes {
    width: 50%;
    margin: 80px auto 10px auto;
  }
}

@media (max-width: 500px) {
  #hero {
    /* margin-top: 65px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/4238568.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: auto;
    /* border: 1px solid #ff0000; */
  }

  .hero-info h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: fit-content;
    margin: 0 auto;
    color: white;
  }

  .hero-info p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    font-size: 10px;
    font-weight: bold;
    color: white;
  }

  .card-info-conteiner {
    /* border: 4px solid #ff7403; */
    background: #302f2f5d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 77%;
    height: 100%;
    max-width: 900px;
    border-radius: 8px;
  }
  .card-info-conteiner img {
    /* border: 4px solid #ff7403; */
    max-width: 100%;
    max-height: 250px;
    /* margin: 28px 50px 0px 32px; */
  }

  .img-mortalk {
    width: 450px;
    height: 250px;
  }

  .img-crash {
    width: 450px;
    height: 250px;
  }

  .img-forza {
    width: 450px;
    height: 250px;
  }

  .img-baldur {
    width: 450px;
    height: 250px;
  }

  .contacto-redes {
    width: 60%;
    margin: 80px auto 10px auto;
  }

  .login-container {
    width: 85%;
    height: 450px;
    background-color: #ffffff13;
    filter: drop-shadow(1px 1px 1px #6b6b6b);
    color: white;
    padding: 20px;
    margin: 220px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
  }
}

@media (max-width: 460px) {
  .login-container {
    width: 85%;
    height: 450px;
    background-color: #ffffff13;
    filter: drop-shadow(1px 1px 1px #6b6b6b);
    color: white;
    padding: 20px;
    margin: 220px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
  }

  .logo-login {
    height: 15%;
    margin-left: 40%;
  }

  .volver {
    color: #fff;
    text-decoration: none;
    margin-left: 36%;
    font-size: 14px;
  }

  .card-info-conteiner {
    /* border: 4px solid #ff7403; */
    background: #302f2f5d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 77%;
    height: 100%;
    max-width: 900px;
    border-radius: 8px;
  }
}

@media (max-width: 400px) {
  .card-info-conteiner {
    /* border: 4px solid #ff7403; */
    background: #302f2f5d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    height: 100%;
    max-width: 900px;
    border-radius: 8px;
  }
}
