@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
}

/* ==================== HEADER ==================== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  width: 100%;
  height: 65px;
  background: linear-gradient(to bottom, #000c25, #000000);
}

.logo {
  height: 90%;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 10rem;
}

.navbar-list {
  gap: 30px;
  text-decoration: none;
}

.navbar-list a {
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

.navbar-list a:hover {
  background: #fff;
  box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
  transition-delay: 0.2s;
  border-radius: 10px;
  color: #000000;
}

#menu-toggle,
.menu-label {
  display: none;
  cursor: pointer;
}

/* ==================== MAIN ==================== */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(to top, #000000, #000c25, #000000);
}

/* ==================== HERO ==================== */
#hero {
  /* margin-top: 65px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Img/4238568.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
  width: 100%;
}

.hero-info h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  width: fit-content;
  margin: 0 auto;
  color: white;
}

.hero-info p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  font-size: 18px;
  font-weight: bold;
  color: white;
  /* border: 1px solid #b3ff03; */
}

.hero-info button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 840px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  color: #000000;
  background-color: white;
  font-weight: bold;
}

.hero-info button:hover {
  color: white;
  background-color: #000000;
}

/* ==================== ABOUT ==================== */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 40px;
  /* border: 4px solid #b3ff03; */
}

.about-info h2 {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 30px;
  background: linear-gradient(to bottom, #fff, #000c25);
  /* filter: drop-shadow(1px 1px 5px #6b6b6b); */
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.about-info p {
  color: #fff;
  width: 81%;
  margin-left: 10%;
  margin-bottom: 50px;
  font-size: 17px;
  text-align: center;
  /* border: 4px solid #b3ff03; */
}

.about-info span {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  background: linear-gradient(to bottom, #fff, #000c25);
  /* filter: drop-shadow(1px 1px 1px #6b6b6b); */
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.about-info li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* text-align: center; */
  color: #fff;
  margin-left: 10%;
  margin-top: 20px;
  width: 83%;
  /* border: 4px solid #b3ff03; */
}

/* ==================== CARDS ==================== */
#cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 60px auto;
  width: 100%;
  height: 100%;
  /* border: 4px solid #b3ff03; */
}

#cards h2 {
  background: linear-gradient(to bottom, #fff, #000c25);
  /* filter: drop-shadow(1px 1px 5px #6b6b6b); */
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.cards-conteiner {
  display: flex;
  justify-content: center;
  gap: 100px;
  color: #fff;
  margin: 0 auto;
  /* border: 4px solid #b3ff03; */
}

.card-1,
.card-2,
.card-3 {
  border-radius: 25px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.cards-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  gap: 40px;
  /* border: 4px solid #b3ff03; */
}

.card-info-conteiner {
  /* border: 4px solid #ff7403; */
  background: #302f2f5d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 900px;
  border-radius: 8px;
}

.card-info-conteiner img {
  max-width: 250px;
  max-height: 250px;
  /* margin: 28px 50px 0px 32px; */
}

.img-mortalk {
  height: 135px;
}

.img-crash {
  height: 135px;
}

.img-forza {
  height: 135px;
}

.img-baldur {
  height: 135px;
}

.card-info-1 {
  /* border: 4px solid #b3ff03; */
  display: inline-block;
  width: 100%;
  max-width: 600px;
}

.card-info-2 {
  display: inline-block;
  width: 100%;
  max-width: 600px;
}

.card-info-3 {
  display: inline-block;
  width: 100%;
  max-width: 600px;
}

.card-info-4 {
  display: inline-block;
  width: 100%;
  max-width: 600px;
}

.card-info-5 {
  display: inline-block;
  width: 100%;
  max-width: 600px;
}

.card-info-6 {
  display: inline-block;
  width: 100%;
  max-width: 600px;
}

/* .card-2 h3 {
  margin-top: -5px;
} */

.card-info-1 p,
.card-info-2 p,
.card-info-3 p,
.card-info-4 p,
.card-info-5 p,
.card-info-6 p {
  width: 90%;
  margin: 10px auto;
  /* border: 4px solid #b3ff03; */
}

.card-info-1 h3,
.card-info-2 h3,
.card-info-3 h3,
.card-info-4 h3,
.card-info-5 h3,
.card-info-6 h3 {
  width: 90%;
  margin: 10px auto;
  /* border: 4px solid #b3ff03; */
}

/* ==================== CONTACTO ==================== */
#contacto {
  width: 80%;
  margin-bottom: 30px;
}
#contacto h2 {
  background: linear-gradient(to bottom, #fff, #000c25);
  /* filter: drop-shadow(1px 1px 1px #6b6b6b); */
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.contacto-container {
  /* border: 4px solid #b3ff03; */
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.contacto-form {
  /* border: 4px solid #f0e54b; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"] {
  background-color: #ffffff1c;
  color: #fff;
  border: none;
}

.contacto-form label {
  color: white;
  margin: 10px 0 5px 0;
}

.contacto-form input {
  height: 30px;
  border-radius: 8px;
}

.contacto-form textarea {
  background-color: #ffffff1c;
  color: #fff;
  border: none;
  border-radius: 8px;
}

.bt-enviar {
  border-radius: 8px;
  width: 100px;
  margin-left: 35%;
  margin-top: 10px;
  background-color: #ffffff1c;
  color: #fff;
  border: none;
  cursor: pointer;
  /* border: 4px solid #03fff2; */
}

.bt-enviar:hover {
  color: #000000;
  background-color: #fff;
}

.contacto-redes {
  width: 30%;
  margin: 0 auto;
}

.contacto-redes h3 {
  color: white;
  margin-bottom: 10px;
  padding-left: 10px;
}

.contacto-redes li {
  color: white;
  margin-top: 10px;
  list-style-type: none;
  /* border: 4px solid #03fff2; */
}

.contacto-redes span {
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
}

.contacto-redes img {
  height: 30px;
  width: 30px;
  /* border: 4px solid #03fff2; */
}

.redes-sociales {
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin-top: 50px;
  /* border: 4px solid #03fff2; */
}

.redes-sociales li {
  color: white;
  display: inline-block;
  align-items: start;
}

.redes-sociales li img {
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-right: 10px;
}

/* ==================== FOOTER ==================== */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* margin-top: 60vh; */
  background: linear-gradient(to top, #000c25, #000000);
}

footer img {
  height: 70px;
  width: 70px;
  margin-bottom: 1px;
}

footer p {
  color: white;
}
